* { box-sizing: border-box; }
body {
color: #24202e;
margin: 0 auto;
max-width: 50em;
font-family: "Helvetica", "Arial", sans-serif;
line-height: 1.5;
padding: 1em 1em;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
/*h1, h2, strong { color: #14121a; }*/
a { color: #6226d1; }

.cv-head, .cv-foot {
    height: 18em;
    background-color: #39383b;
    color: antiquewhite;
    padding: 1em;
  }

.cv-head-text {
    float: left;
 }
.cv-head img { float: right; }

.cv-about { clear: both; }