* { box-sizing: border-box; }
body {
    color: #24202e;
    background-color: #b0aabb;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: calc(15px + 0.390625vw); /* responsive font size */
    line-height: 1.5;
    padding: 1em 1em;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; margin-top: 0}
h3 { font-size: 1.5rem; }

a { color: #6226d1; }
.center { text-align: center; }


.cv-head, .cv-foot {
    color: antiquewhite;
    padding: 1em;
}
.cv-about { background-image: linear-gradient(to bottom, #848386, #a09ea5); padding: 1em;}
.block { background-color: #a09ea5; padding: 1em;}
.cv-head {
    background-image: linear-gradient(to bottom, #39383b, #848386);
    border-radius: 5em 5em 0 0;
    height: fit-content;
    /*margin-bottom: 1em;*/
    overflow: auto;
}
.cv-head::after {
    content: "";
    display: table;
    clear: both;
    border-bottom: #24202e 2px;
}
.cv-foot {
    background-image: linear-gradient(to bottom,#848386, #39383b);
    border-radius: 0 0 1.5em 1.5em;
    height: 4em;
    vertical-align: middle;
}
.cv-foot p {
    margin: 0;
    padding: 0;
}
.cv-foot a {
    color: antiquewhite;
    text-decoration: none;
}

.cv-head-text { float: left; margin-left: 2em; }
.cv-head img { float: right; padding-right: 1em;}
